.leaf-bar{
    width: 17%;
    height: calc(100% - 60px);
    position: absolute;
    margin-top: -1px;
    background-color: #545c64;
}
.block-box-player {
    box-shadow: 0 4px 8px 0 rgba(36,46,66,0.06);
    padding: 12px;
    border-radius: 4px;
    overflow: hidden;
    position: absolute;
    left: 19%;
    /* right:3%; */
    top: calc(61px + 3%);
    background-color: #edeef0;
    bottom: 3%;
    height: calc(100% - 61px - 6% - 24px);
    width: 76%;
}
.vedio-container{
    position: absolute;
    width: 80%;
    left: 10%;
    /* position: absolute; */
    /* left: 10px;
    top:10px; */
    /* align-items :  flex-start; */
    /* left: 4px; */
}
.video-js .vjs-big-play-button {
    width: 72px;
    height: 72px;
    border-radius: 100%;
    z-index: 100;
    background-color: #ffffff;
    border: solid 1px #979797;
}
